.city {
  display: grid;
  grid-template-columns: 95% 5%;
  align-items: center;

  &-btn {
    background-color: transparent;
    border: none;
    color: $primary-color;
    font-size: 1em;

    transition: all 300ms;

    &:hover {
      transform: scale(1.1);
      color: $secundary-color;
    }

  }
}